        <div class="container marketing">
            <br>
            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
    
    
            <!-- START THE FEATURETTES -->
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Electricity Monitoring.<span class="text-muted"> Know what you are spending where.</span></h2>
                <p class="lead">Wirelessly monitor your home or business energy usage. Use your computer or phone to see: </p>
                <ul>
                  <li>A live view of your usage (updated every 15 seconds)</li>
                  <li>Daily, weekly and monthly reports</li>
                  <li>Tips on how to reduce your bill</li>
                  <li>How you compare to similar households</li>
                </ul>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; " src="../assets/images/diagram.svg" data-holder-rendered="true">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Reduce your bill. <span class="text-muted">With our electricity saving tips</span></h2>
                <p class="lead">Reduce your bill by up to 20% by knowing when and where your energy is being used. We help you by giving tips on
                    how to reduce your bill.</p>
              </div>
              <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="../assets/images/envelope.svg" data-holder-rendered="true">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">Reduce your impact on the environment.</h2>
                <p class="lead">For every 1 kWh of energy you use:</p>
                <ul>
                    <li>1 kg of carbon dioxide (CO 2 ) is released into the atmosphere</li>
                    <li>560g of coal is needed</li>
                    <li>1.4L of water is needed</li>
                  </ul>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto"   src="../assets/images/plant.png" data-holder-rendered="true">
              </div>
            </div>
    
            <hr class="featurette-divider">
    
            <!-- /END THE FEATURETTES -->
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                  <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                      <li><a class="text-muted" href="/product">Products</a></li>
                      <li><a class="text-muted" href="/pricing">Pricing</a></li>
                      <li><a class="text-muted" href="/contact-us">Contact Us</a></li>
                    </ul>
                  </div>
                  </div>
              </footer>
          </div>
          