#reportChartCard{
  /* margin: 10px;
  margin-right: 0px;
  float: left; 
  width: 63%;
  height: 700px; */
}

#reportCard{
  /* margin: 10px;
  margin-left: 0px;
  float: right; 
  width: 30%; 
  height: 700px; */
}

.progress{
  height: 3rem;
}

#activeLimitReport{
  margin: 10px;
}
