/* mat-card {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
    width: 28%;
    height: 600px
}

mat-raised-button {
    width: 350px;
}

.emmActive{
    color: #32f320
} */